

    <mat-toolbar color="primary">
        <h4>timeSheet</h4>

        <span fxFlex="grow"></span>
        <firebase-ui fxLayout="column" (signInSuccessWithAuthResult)="successCallback($event)"
            (signInFailure)="errorCallback($event)" (uiShown)="uiShownCallback()"></firebase-ui>
        <button class="SignInbutton" (click)="logout()">

            Logout
                <fa-icon (click)="logout()" class="fas faSignOutAlt fa-lg" [icon]="['fas', 'sign-out-alt']">
                </fa-icon>
           

           
        </button>
    </mat-toolbar>


  

<div *ngIf="AfterOnlineCheckAuth | async as OnlineReady; else waitforOnline">

    <router-outlet></router-outlet>
    
  
  </div>
  
  <ng-template #waitforOnline>
    
    <router-outlet></router-outlet>
    
    
  </ng-template>
  
  