{{AfterOnlineCheckAuth|async}}
<div *ngIf="AfterOnlineCheckAuth ; else waitforOnline">

    <mat-toolbar color="primary">
        <h4>timeSheet</h4>
        <span fxFlex="grow"></span>

{{this.myauth.value?.displayName}}
{{this.myuserProfile.userAuthenObj?.displayName}}

        <span fxFlex="grow"></span>
        <firebase-ui fxLayout="column" (signInSuccessWithAuthResult)="successCallback($event)"
            (signInFailure)="errorCallback($event)" (uiShown)="uiShownCallback()"></firebase-ui>
        <button class="SignInbutton" (click)="logout()">

            Logout
                <fa-icon (click)="logout()" class="fas faSignOutAlt fa-lg" [icon]="['fas', 'sign-out-alt']">
                </fa-icon> 
        </button>
    </mat-toolbar>

<app-admin [authEmail]="this.myuserProfile.userAuthenObj" ></app-admin>
  </div>
  
  <ng-template #waitforOnline>
    
No Internet    
    
  </ng-template>
  
  